* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.team {
  background-color: #f8f9fa;
}
.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.showcase h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: "Roboto Slab", serif !important;
  letter-spacing: 5px;
}
.row .one {
  width: 120px;
  height: 120px;
  background-color: rgba(254, 209, 54, 0.9);
  color: #fff;
}

.portfolio-team {
  background-color: #f8f9fa;
}
.portfolio-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.portfolio-content h3,
.portfolio-content p {
  margin: 15px;
}
.portfolio-content p {
  font-style: italic;
}
/* .portfolio-content a:hover{
      opacity: 0.5;
  } */
.cross {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  /* backface-visibility: hidden; */
}
.middle {
  transition: 0.5s ease;
  background-color: rgba(254, 209, 54, 0.9);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  /* font-size: 16px; */
  padding: 16px 32px;
}
.card:hover .cross {
  opacity: 1;
}

.card:hover .middle {
  opacity: 0.9;
}

.contact {
    background-image: url("https://wallpapercave.com/wp/wp3172894.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.labels input {
    line-height: 3rem;
}

.bottom-links a {
  text-decoration: none;
}
.bottom-links a:hover {
  border-bottom: solid;
}

@media screen and (max-width: 800px) {
  .portfolio-content {
    display: flex !important;
    flex-direction: column !important;
  }

  #logos-id {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  #logos-id a {
    margin: 20px;
  }
  .footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }

  .footer > div {
    margin-top: 20px;
  }

  .labels {
     display: flex !important;
     flex-direction: column !important;    
 }

 .labels textarea {
     margin-top: 20px;
 }

 .contact {
     height: 100vh;
     background-image: cover !important;
 }
