:root {
  --primary-color-yellow: #fed136;
}

body {
  font-family: "Roboto Slab", serif !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 110vh;
}
.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.showcase h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: "Roboto Slab", serif !important;
  letter-spacing: 3px;
}

.showcase p {
  font-size: 40px;
}

.icons .fas {
  border: 1px solid var(--primary-color-yellow);
  border-radius: 50% 50%;
  width: 120px;
  height: 120px;
}

.nav a:hover {
  color: var(--primary-color-yellow);
}

.services {
  padding: 70px;
}

.services h3 {
  font-weight: bold;
}

.portfolio-team {
  background-color: #f8f9fa;
}
.portfolio-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.portfolio-content h3,
.portfolio-content p {
  margin: 15px;
}
.portfolio-content p {
  font-style: italic;
}
/* .portfolio-content a:hover{
    opacity: 0.5;
} */
.cross {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  /* transition: .5s ease; */
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fed136;
  /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;

  padding: 16px 32px;
}
.card:hover .cross {
  opacity: 1;
}
.card:hover .middle {
  opacity: 0.9;
}

/* logo pics */
#logos-id {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;

  grid-auto-flow: column;
}
.contact {
  background-image: url("https://wallpapercave.com/wp/wp3172894.jpg");
  background-size: cover;
  background-position: center;
}
.labels input {
  line-height: 3rem;
}

.footer-style {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

@media screen and (max-width: 720px) {
  .portfolio-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 90%;
    justify-items: center;
    margin: auto;
  }
  #logos-id {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .footer-style {
    flex-direction: column;
    align-items: center;
  }
  .footer-style div {
    margin: 10px;
  }
}

@media screen and (max-width: 520px) {
  #logos-id {
    grid-template-rows: repeat(4, 1fr);
  }
  #logos-id div {
    margin: auto;
    padding: 10px;
  }
}
